<!DOCTYPE html>
<html lang="es-VE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', path='sudoku.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', path='index.js') }}" defer></script>
    <title>Sudoku</title>
</head>
<body>
    <h1>Sudoku</h1>
    <div>
        <form action="/" method="get">
            <button type="submit">🔄️</button>
        </form>
    </div>
    <table>
        {% for lista in matriz %}
        <tr>
            {% for dato in lista %}
            {% if dato == 0 %}
            <td class="cambiable">
                <input type="number" name="" id="" min="1" max="9" step="1">
            </td>
            {% else %}
            <td>{{ dato }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <article>
        <small>
            Este juego ha sido desarrollado por Ana Paula Mendoza Díaz <br>
            Estudiante del 4° nivel de la <b>carrera de Desarrollo de Software de GracoSoft</b>.<br>
            Fecha de desarrollo de la primera versión: 03/08/2025 <br>
            Su repositorio de GitHub es <a target="_blank" href="https://github.com/Luna-Hazuki2006/sudoku_fastapi.git">este</a> 
        </small>
    </article>
</body>
</html>